body{
	font-family: 'Helvetica', sans-serif;
}


.condition-block{

	width: 100%;
	background-color: #f5f5f5;
	border-radius: 6px;

	display: flex;
	flex-direction: row;
	align-items: stretch;

	min-height: 3em;

	margin: 0.5em auto;
}

.sub-block{
	flex: 1 0 2em;
	max-width: 400px;
	display: inline-block;
	border-right: 1px solid #333;
}




.sub-block.rightmost{
	border-right: none;
}

.condition-column{
	border-bottom: 1px solid #999;
	background-color: #ddd;
	font-size:90%;
	color: #333;
	padding: 2px;
	font-style: italic;


}


.condition-info{
	max-width: 95%;
	word-wrap: break-word;
	height: auto;
	margin: 0.5em auto;
	padding: 5px;
}



.delete-condition-button{
	flex: 0 0 3em;
	position: relative;
	background-color: #ed6e55;
	color: #eee;
}
.delete-condition-button:hover{
	background-color: #f78a74;
}

.delete-icon{
	cursor: default;
	line-height: 3.5em;
	text-align: center;
	vertical-align: center;
}

#create-condition-template{
	display: none;
}

#new-conditions{
	display: none;
	background-color: #ede055;
}
#new-conditions.active{
	display: block;
	padding: 1em;
}
#new-conditions.submit-success{
	background-color: #74f778;
}

#submit-conditions{
	margin: 0 auto;
	display: block;
	padding: 10px;
}

.exit-button-visible-radio{
	margin-left: 10px;
	margin-right: 3px;
}