@import 'variables';
@import 'resets';

html{
	width: 100%;
	height: 100%;
	font-size: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 50%;
	min-width: 300px;
	height: 40%;
	min-height: 200px;

	visibility: hidden;
	pointer-events: none;
	opacity: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 18px;
	background-color: #fafafa;

	border-radius: 12px;
	border: 3px solid #999;

	padding: 1em;

	transform: translate( -50%, -50% );

	transition: visibility 0ms 400ms linear,
							opacity 400ms ease;
}

.modal.visible{
	visibility: visible;
	opacity: 1;
	pointer-events: auto;

	transition: visibility 400ms ease,
							opacity 400ms ease;
}

#screen-size-alert{
	z-index: 21;
}
.modal-text{
	text-align: center;
	width: 100%;
	display: block;
	position: relative;
	margin: 1em;
}

.modal-text-emphasis{
	margin: 0.5em auto;
	font-size: 125%;
	font-weight: bold;
}
.modal-input{
	margin: 0.5em;
	font-size: 150%;
}
.modal-close-button{
	padding: 10px;
}

.study-area-wrapper{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

///////////////////
// PROGRESS WALL //
///////////////////


#progress-wall-container{ 
	//background-color: #eee;
	//width: 80%;
	//height: 80%;

	margin-bottom: 1em;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

	border: 1px solid #ddd;
}


.progress-column{
	background-color: #eee;
	
	position: relative;
	border: 1px solid #aaa;
	height: auto;
	//width: 3.33333%;

	vertical-align: baseline;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;

}

.progress-brick{
	border: 4px outset lighten(darkred, 5%);
	background-color: red;
	width: 1.5em;
	height: 1.5em;
	opacity: 1;
}
.progress-brick:not(.hidden){
	background-color: red;
	animation-name: progressbrick;
	animation-duration: 600ms;
	animation-iteration-count: 1;
}

.progress-brick.hidden{
	opacity: 0.5;
	border: 2px inset #aaa;
	background-color: #aaa;
}

@keyframes progressbrick {
	0% { 	background-color: red; 
				border-color: lighten(darkred, 5%); }

	25% { background-color: lighten(red, 5%);
				border-color: lighten(darkred, 10%); }

	30% { background-color: lighten(red, 30%);
				border-color: lighten(darkred, 35%); }

	70% { background-color: lighten(red, 5%);
				border-color: lighten(darkred, 10%); }

	100% { background-color: red;
				border-color: lighten(darkred, 5%); }
}







////////////////////


#task-area-container{
	order: 2;

	height: auto;
	width: 95%;
	// child flex
	align-self: center;
	// parent flex
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	visibility: visible;
	opacity: 1;
	transition: opacity 200ms ease;
}
#task-area-container.hidden{

	opacity: 0;
	visibility: hidden;

	transition: visibility 0ms 200ms linear, opacity 200ms ease;
}

#timer{
	//visibility: hidden;
	margin-bottom: 2em;
	padding: 5px;
	background-color: #eee;
	border-radius: 6px;
}
#timer.visible{
	visibility: visible;
}

#task{
	max-width: 100%;
	display: block;
	text-align: center;
	font-size: 200%;
}


@keyframes shake {
	25%  { transform: translateX( -2% ); }
	75%  { transform: translateX( 2% ); }
	100% { transform: none;}
}

.animate-shake {
	animation-name: shake;
	animation-duration: 200ms;
}

#task-sentence{
	width: 100%;
	user-select: none;
}
#task-input{

	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin: 0.5em auto 0;
}

.task-submit-info{
	font-style: italic;
	margin-top: 1em;
	font-size: 110%;
}

#exit-button{
	position: absolute;
	top: -2em;
	left: -2em;
	background-color: #aaa;
	color: #eee;
	width: 10em;
	height: 10em;
	border-radius: 100%;
	justify-content: center;
	display: none;
}
#exit-button.visible{
	display: flex;
	align-items: center;
}

#exit-button.deactivated{
	display: none;
}
#exit-button:not(.disabled):hover{
	background-color: darken( #aaa, 5% );
}
#exit-button:not(.disabled):active{
	background-color: lighten( #aaa, 5% );
}



@import 'media-queries';